
/* Navbar */
.navbar{
    padding-left: 100px;
    padding-right: 100px;
}

.navbar-brand {
    font-size: 20px;
    color: #000;
}

/* Header */
.contenedor{
    display: flex;
    justify-content: space-around;
    height: 60vh;
}

.contenido{
    width: 50%;
}

.contenido-centrado{
    display: flex;
    justify-content: center;
}

.contenido-derecha{
    display: flex;
    justify-content: flex-end;
}

.item-centrado{
    display: flex;
    align-items: center;
}